@font-face {
    font-family: "CeliasBold";
    src: url(../../fonts/CeliasBold.otf);
}

@font-face {
    font-family: "Celias";
    src: url(../../fonts/Celias.otf);
}

body{
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Celias";   
}

.hero-heading{
    position: relative;
    font-size: 54px;
    line-height: 68px;
    font-weight: 900;   
    text-shadow: 0px 0px 8px black;
}

.hero-heading::after{
    position: absolute;
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='368' height='12' viewBox='0 0 368 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3.45562C116.915 5.44336 233.738 -0.926442 349.198 1.60341C357.38 1.78411 367.987 2.5521 366.926 4.13326C264.952 4.90125 163.129 6.61794 62.0635 9.32849L194.949 8.92191C248.284 8.7412 302.226 8.60568 353.895 11' stroke='%237AF69D' stroke-width='1.6' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    bottom: 0.5em;
    z-index: -1;
    height: .2em;
    left: -1.4em;
    width: 150%;
    margin: auto;
}

.hero-para{
    font-size: 18px;
    line-height: 30px;
    margin-top: 7px;
}

.hero-button{
    padding: 12px 17px;
    font-size: 16px;
    font-family: inherit;
    border: none;
    background-color: #7AF69D;
    border-radius: 6px;
    margin-top: 20px;
    cursor: pointer;
}

.hero-button:hover{
    background-color: #28fd7f;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bold{
    font-family: "CeliasBold";
}